<m3-navigation-rail>
  <m3-navigation-rail-toggle></m3-navigation-rail-toggle>
  <m3-navigation-rail-item label="Home" active badge="1" [routerLink]="['/']">
    <span slot="icon"><span class="material-symbols-outlined">home</span></span>
  </m3-navigation-rail-item>
  <m3-navigation-rail-item label="Components" [routerLink]="['/components']">
    <span slot="icon"><span class="material-symbols-outlined">browse</span></span>
  </m3-navigation-rail-item>
  <m3-navigation-rail-item label="Contact">
    <span slot="icon"><span class="material-symbols-outlined">person</span></span>
  </m3-navigation-rail-item>
  <m3-navigation-rail-item label="Theme" slot="bottom" (item-click)="toggleTheme()">
    <span slot="icon" class="material-symbols-outlined">dark_mode</span>
  </m3-navigation-rail-item>
  <m3-navigation-rail-item label="Settings" slot="bottom">
    <span slot="icon" class="material-symbols-outlined">settings</span>
  </m3-navigation-rail-item>
  <m3-navigation-rail-item label="Logout" slot="bottom">
    <span slot="icon" class="material-symbols-outlined">logout</span>
  </m3-navigation-rail-item>
</m3-navigation-rail>

<div class="container">
  <router-outlet></router-outlet>
</div>